body {
  text-align: center;
  background-color: black;
  color: white;
}
.outer {
  border: 2px;
  background-color: rgb(65, 186, 97);
  margin-top: 1rem;
  width: 70%;
  padding: 1rem;
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
}
