body {
  text-align: center;
  /* background-color: black; */
  color: white;
}
.outer {
  border: 2px;
  background-color: rgb(65, 186, 97);
  margin-top: 1rem;
  width: 70%;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.outer:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
p {
  color: rgb(225, 21, 21);
}
